<htm>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Problem</title>
    </head>
    <body class="bg-gradient-to-r from-orange-200 to bg-green-200">
        <form class="ml-10 mt-20" action="/p" method="post">
            <label for="">Choose a Problem Category:</label>
            <select id="" name="problem">
              <option value="tools">Agriculture Tools</option>
              <option value="plant">Plant related problem</option>
              <option value="soil">Soil related problem</option>
              <option value="fertilzer">Fertilizer related problem</option>
            </select>
            <br><br>
            <textarea rows="4" cols="50" name="comment" form="usrform">
             Enter your problem here...</textarea>
             <br>
             <br>
           <input class="bg-pink-600 rounded-full py-1 px-5" type="Submit" value="Submit">
          </form>
          
    </body>
</htm>