<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Registraion Page</title>
</head>
<style>
      body {
            background-image: url('https://images.pexels.com/photos/699405/pexels-photo-699405.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            background-size: 100%;

          }

    
</style>
<body>
    <div class=" mx-auto mt-36 w-96 h-62 rounded-lg">
    <form action="/signup" method="post">
        <br>
        <label for="" class="px-10 "</label>Name</label>
        <input type="text" class="w-48 rounded opacity-60 bg-stone-400" name="Name" id=""><br><br>
        <label for="" class="px-10">Contact</label>
        <input type="text" class="w-48 rounded opacity-60 bg-stone-400" name="Contact" ><br><br>
        <label for="" class="px-10">Email</label>
        <input type="text" class="w-48 rounded opacity-60 bg-stone-400" name="Email"><br><br>
        <label for="" class="px-10">Password</label>
        <input type="text" class="w-48 rounded opacity-60 bg-stone-400" name="Password" id=""><br><br>
        <label for="" class="px-10">State</label>
        <input type="text"  class="w-48 rounded opacity-60 bg-stone-400" name="State"><br><br>
        <label for="" class="px-10">City</label>
        <input type="text" class="w-48 rounded opacity-60 bg-stone-400"  name="City" id=""><br><br>
        <label for="" class="px-10">Occupation</label>
        <input type="text" class="w-48 rounded opacity-60 bg-stone-400" class="px-10" name="Occupation" id=""><br><br>
        <input class="my-3 mx-10 py-1 px-5 bg-yellow-800 rounded-full" type="Submit" value="Register">
        <a class="bg-yellow-800 rounded-full py-1 px-5" href='/'>Login</a>
    </form>
    </div>
    
</body>
</html>
